<template>
  <header class="container-full">
    <div class="cont45">
      <!-- Main Logo  -->
      <img src="../assets/img/logo.png" alt="Logo Aptible" id="logo">
      <!-- Enclave  -->
      <h3 class="color-light-blue">ENCLAVE</h3>
      <!-- Big Title -->
      <h1 class="proxima-nova-light">Division of Responsibilities</h1>
      <!-- Paragraph -->
      <p>Aptible Enclave® is an ISO 27001 certified, AWS-based container orchestration platform for deploying highly available, secure apps and databases into isolated cloud environments. Sofware teams use Enclave® to automate DevOps and security engineering best practices and requirements for HIPAA, ISO 27001, SOC 2, and
  other security frameworks.</p>
    </div>
  </header>
</template>

<script>
// Nothins changes here
export default {

}
</script>

<style lang="scss" scoped>

  // Header Styles. The Styles are unique for this component so we add scoped to the stye tag

  header {
    background-image: url("../assets/img/background.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    h3 {
      font-weight: normal;
      font-size: 15px;
      margin-top: 77px;
    }
    h1 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      color: #7283a0;
      line-height: 1.6;
      margin-bottom: 240px;
    }
  }
  #logo {
    width: 145px;
    height: 43px;
    margin-top: 70px;
  }
</style>
