<template>
  <!-- FULL CONTAINER -->
  <div class="container-full">
    <div class="cont80">
      <div class="cont96">

        <!-- MAIN NAVIGATION -->
        <nav class="text-center container-full main-nav">
          <!-- DISPLAY ALL OF THE CATEGORIES FROM JSON -->
          <a
            class="menu-item"
            v-for="(cat, index) in categories"
            :key="index"
            :class="index == activecat ? 'menu-item-selected' : 'nah'"
            @click="filter_res(cat.handle, index)">
            <!-- COLOR FILL FOR THE CATEGORY -->
            <span
              class="color-cont color-purple"
              :class="'color-'+cat.handle">
            </span> <span class="menu-tag">{{cat.name}}</span>
          </a>
        </nav>
        <!-- END OF MAIN NAVIGATION -->

        <!-- MAIN NAVIGATION -->
        <nav class="text-center container-full main-nav2">

          <!-- DISPLAY ALL OF THE CATEGORIES FROM JSON -->
          <a
            @click="toggle_mobile_menu()"
            class="mobile-menu-text" >

            <!-- CARET FOR THE MOBILE MENU -->
            <img
              :class="!turn_caret ? '' : 'caret-flip'"
              src="../assets/img/caret-down.png"
              alt="Caret Down"
              id="caret">
            <a class="menu-item-mobile">{{showMobileMenu ? 'Close Filter' : 'Filter Responsabilities'}}</a>

            <!-- MOBILE MENU -->
            <div
              v-show="showMobileMenu"
              :class="showMobileMenu ? 'showMobile' : 'closeMobile'"
              v-transition="expand"
              id="mobile-menu">
              <!-- LOOPS THROUGH THE CATEGORIES -->
              <a
                v-for="(cate, index) in categories"
                @click="filter_res(cate.handle, index)"
                class="menu-item-mobile"
                :class="index == activecat ? 'menu-item-mobile-selected' : 'nah'">
                <span
                  class="color-cont color-purple"
                  :class="'color-'+cate.handle">
                </span> <span class="menu-tag">{{cate.name}}</span>
              </a>
            </div>
            <!-- END MOBILE MENU -->

          </a>
        </nav>

      </div>

      <!-- RESPONSABILITIES CONTAINER -->
      <div class="responsabilities container-full">
        <div class="row">

          <!-- SHOWS ALL OF THE RESPONSABILITIY CARDS -->
          <div
            class="col-4 resp-cards"
            v-for="(res, index) in filetered_resp "
            @click="choose_card(index)"
            :class="index == active ? 'active' : ''"
            :key="index">
            <!-- Background is Absolute to span the correct width and height when active -->
            <div
              :id="'outline'+index"
              class="outline"></div>
            <div class="cont80 relative">

              <!-- Responsability Name -->
              <p
                :id="'p'+index"
                class="title">{{res.name}}</p>

              <!-- Categories -->
              <span
                v-for="cat in res.categories"
                :class="'color-'+cat"
                :id="'span'+index"
                class="color-cont">
              </span>

              <!-- Description -->
              <p
                class="description proxima-nova-light"
                href="para"
                :id="'p2'+index"
                :key="'p'+index"><br>{{res.description}}</p>
            </div>
          </div>
          <!-- END OF RESPONSABILITY CARDS -->

        </div>
      </div>
    </div>
  </div>
  <!-- END OF FULL CONTAINER -->
</template>

<script>

// Responsibilities Component
// Props: responsabilities and categories from json

export default {
  props: ['responsabilities', 'categories'],
  data() {
    return {
      active: -2,
      activecat: 0,
      cat: this.categories[0].handle,
      catName: this.categories[0].name,
      filetered_resp: [],
      showMobileMenu: false,
      turn_caret: false
    }
  },
  methods: {
    // Filters the responsabilities list
    filter_responsabilities(category) {
      let filtered = []
      for (var i = 0; i < this.responsabilities.length; i++) {
        for (var j = 0; j < this.responsabilities[i].categories.length; j++) {
          if(category == this.responsabilities[i].categories[j]) {
            filtered.push(this.responsabilities[i]);
          }
        }
      }
      this.filetered_resp = filtered;
    },
    // Filters responsabilities when clicked
    filter_res(cat, index) {
      this.activecat = index;
      this.filter_responsabilities(cat);
      this.choose_card(-2);
    },
    // TOGGLES MOBILE MENU
    toggle_mobile_menu() {
      this.showMobileMenu = !this.showMobileMenu;
      this.turn_caret = !this.turn_caret;
    },
    // Chooses the Responsability Card on Click
    choose_card(index) {
      let title = document.getElementsByClassName("description");
      for (var i = 0; i < title.length; i++) {
        title[i].setAttribute("style", "display: none;");
      }
      if(this.active != -2) {
        document.getElementById('outline'+this.active).setAttribute("style","min-height: 200px!important;");
      }
      this.active = index;
      document.getElementById('p2'+this.active).setAttribute("style","display: block;");
      this.matchHeight();
    },
    // Matches the height depending on the length of the elements of each Responsability.
    matchHeight() {
      let heightp1 = document.getElementById('p'+this.active).clientHeight;
      let heightp2 = document.getElementById('p2'+this.active).clientHeight;
      let span = document.getElementById('span'+this.active).clientHeight;
      let total_height = heightp1 + heightp2 + span + 120;
      document.getElementById('outline'+this.active).setAttribute("style","height:"+total_height+"px;");
    }
  },
  mounted() {
    // When mounted filter responsabilities
    this.filter_responsabilities(this.cat);
  }
}
</script>

<style lang="scss">

  // Only import helpers that include variables and mixins
  @import "../assets/sass/helpers/_all.scss";

  %shadow {
    -webkit-box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
    box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
  }
  .color-cont {
    width: 20px;
    height: 10px;
    @include border-radius(8px);
    background-color: black;
    display: inline-block;
    margin-right: 6px;
  }
  .menu-tag {
    color: $anchors-nav;
    display: inline-block;
  }
  .menu-item {
    @include transition(all 0.3s ease-out);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 15px 22px;
    border-bottom: 2px solid #fff;
    &:hover {
      border-bottom-color: $blue-light;
    }
  }
  .menu-item-selected {
    border-bottom-color: $blue-light;
  }
  .main-nav, .main-nav2 {
    margin-bottom: 30px;
  }
  .main-nav {
    border-bottom: 1px solid #e9f1fe;
  }
  .main-nav2 {
    position: relative;
    border: 1px solid #e9f1fe;
    cursor: pointer;
    padding: 0;
    @include border-radius(6px);
    @include transition(all 0.5s ease);
    display: none;
    a.menu-item-mobile {
      &:hover {
        background-color: #e9f1fe;
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding: 10px 0;
      font-size: 18px;
    }
  }
  .color-security {
    background-color: $color-purple;
  }
  .color-audit_ready {
    background-color: $color-blue-light;
  }
  .color-flexible_scalable {
    background-color: $color-green;
  }
  .color-reliability {
    background-color: $color-yellow;
  }
  .color-convenience {
    background-color: $red;
  }
  .zindex20 {
      z-index: 20!important;
  }
  .resp-cards {
    position: relative;
    min-height: 200px!important;
    margin-bottom: 30px!important;
    cursor: pointer;
    &:hover {
      .outline {
        // background-color: #e9f1fe;
        -webkit-box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
        box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
      }
    }
    .outline {
      z-index: 1;
      @include transition(0.6s);
      @include border-radius(5px);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 1px solid #e9f1fe;
    }
    .cont80 {
      z-index: 20;
    }
    .title {
      color: #46536d;
      margin-bottom: 15px;
      margin-top: 50px;
      z-index: 2500!important;
    }
    .color-cont {
      margin-top: 0;
      margin-bottom: 50px;
      z-index: 2500!important;
    }
    .description {
      @include transition(all 0.2s ease-out);
      position: absolute;
      left: 0;
      line-height: 1.2;
      color:#607598;
      font-size: 15px;
      display: none;
    }
  }
  .act {
    @include transition(all 0.2s ease-out);
    display: inline-block;
  }
  .dis {
    @include transition(all 0.2s ease-out);
    display: none;
  }
  .relative {
    position: relative;
  }
  .active {
    @include transition(all 0.2s ease-out);
    .cont80 {
      z-index: 25!important;
    }
    .outline {
      height: 170%;
      z-index: 22;
      width: 114%;
      left: -7%;
      background-color: white;
      border: 2px solid $blue-light;
      -webkit-box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
      box-shadow: 0px 0px 48px 3px rgba(140,140,140,0.26);
    }
  }
  #caret {
    @include transition(all 0.5s ease);
    width: 10px;
    position: absolute!important;
    right: 18px;
    top: 18px;
  }
  #mobile-menu {
    @include transition(all 0.5s ease);
  }
  .expand-enter {
    @include transition(all 0.5s ease-in);
    height: auto;
  }
  .expand-leave {
    height: 0;
    @include transition(all 0.5s ease-out);
  }
  .menu-item-mobile-selected {
    background-color: #e9f1fe;
  }
  .mobile-menu-text {
    padding: 0!important;
  }
  .caret-flip {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  @media only screen and (max-width: 900px) {
    .resp-cards {
      min-height: 230px!important;
    }
    .main-nav {
      display: none;
    }
    .main-nav2 {
      display: block;
    }
  }
  @media only screen and (max-width: 720px) {
    .resp-cards {
      min-height: 180px!important;
    }
  }
</style>
