<template lang="html">
  <div class="cont96">
    <nav class="text-center container-full main-nav">
      <a
        class="menu-item"
        v-for="(cat, index) in categories"
        :key="index"
        :class="index == activecat ? 'menu-item-selected' : 'nah'"
        @click="filter_res(cat.handle, index)">
        <span
          class="color-cont color-purple"
          :class="'color-'+cat.handle">
        </span> <span class="menu-tag">{{cat.name}}</span>
      </a>
    </nav>
  </div>
</template>

<script>
export default {
  props: ['categories']
}
</script>

<style lang="css">
</style>
