<!-- App Template -->
<template>
  <div id="app">
    <!-- Header Component -->
    <Header />
    <!-- Responsabilities Component -->
    <Responsabilities
      :responsabilities="responsabilities"
      :categories="categories" />
      <!-- Footer -->
    <div style="height: 300px;"></div>
  </div>
</template>

<script>
// Import JSON data and Components
import json from './assets/data/json.json';
import Header from './components/Header.vue';
import Responsabilities from './components/Responsabilities.vue';

// VUE
export default {
  name: 'App',
  data() {
    return {
      responsabilities: json.controls,
      categories: json.categories
    }
  },
  components: {
    Header,
    Responsabilities
  }
}
</script>

<style lang="scss">
  // Importing SASS Assets to use
  @import "./assets/sass/style.scss";
  @import "./assets/fonts/proxima-nova/style.css";

  // Fonts
  .proxima-nova-light {
    font-family: 'Proxima Nova Lt';
  }
  .proxima-nova, * {
      font-family: 'Proxima Nova Rg';
  }
  .color-light-blue {
    color: $blue-light;
  }
  .text-center {
    text-align: center;
  }
</style>
