/*
 * Project Variables
*/

$blue-light: #2f79d1;
$anchors-nav: #7283a0;
$border-color: #e9f1fe;
$color-purple: #d791dc;
$color-blue-light:#87cdff;
$color-green: #7ed235;
$color-yellow: #ffc23a;
$red: #fc7676;
